################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ProgramTrading/v15/Server/sqlite3
/Lab1/bin/Debug
/ProgramTrading/bin/Debug
/Lab2/obj/Debug
/ProgramTrading/obj/Debug
/Lab1/obj/Debug
